* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1 {
  font-size:9em; 
  font-family:'estilo-pro', sans-serif;
  font-weight:100;
}
h2 {
  font-size:3em; 
  font-family:'effra', sans-serif;
  font-weight:500;
  margin-top:-100px;
}

#menu {
  position: fixed;
  width: 180px;
  top: 0;
  bottom: 0;
  background:#112;
  margin:0;
  padding:0;
  overflow:auto;
}
#menu ul {
 margin:0;
  padding:0;
}
#menu li {
  list-style:none;
  width:100%;
  height:180px;
  border-bottom:10px solid black;
}
#menu li a {
  color:black;
  text-decoration:none;
  display:none;
}
#menu a:nth-child(1) li {
  background-color:hsl(200, 50%, 95%);
  border-bottom-color: hsl(200, 40%, 75%);
  background-image:url(hexadown.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:140px 120px;
}
#menu a:nth-child(2) li {
  background-color:hsl(99, 81%, 69%);
  border-bottom-color: hsl(99, 51%, 49%);
  background-image:url(maplog.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:120px 120px;
}
#menu a:nth-child(3) li {
  background-color:hsl(284, 48%, 52%);
  border-bottom-color: hsl(284, 48%, 42%);
  background-image:url(tuneout-flat-icon.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:124px 125px;
}
#menu a:nth-child(4) li {
  background-color:#334;
  border-bottom-color: #223;
  background-image:url(nooklyn-heart.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:120px 120px;
}

#content {
  box-shadow: -4px 1px 25px -1px rgba(0,0,0,0.4);
  position: absolute;
  z-index: 10000;
  transition: all 1s;
}

#content:hover {
  right:-180px; 
  left:180px;
  transition:all 1s;
}


#immersion {
  padding: 200px 30px;
  background-color:hsl(200, 50%, 97%);
  background-image:url(galaxy.gif);
  background-size:cover;
  color:white;
  text-align:center;
}

#maplog {
  padding:0px 0 0 0px;
  background-color:hsl(99, 81%, 79%);
}
#map {
  width:100%;
  height:700px;
}
.google-maps img {
  max-width:none;
  max-height:none;
}

#tuneout {
  padding:50px 30px;
  background-color:hsl(284, 48%, 57%);
  color:white;
}

#tuneout img {
  max-height:650px;
  right:10px;
  text-align:center;
}

.app-store {
  display:block;
  background-color:white;
  opacity:0.8;
  width:300px;
  height:100px;
  padding:10px;
  font-family:'effra', sans-serif;
  font-size:1.6em;
  text-decoration:none;
  color:#666;
  transition:opacity 0.3s;
}

.app-store:hover {
  opacity:1.0; 
}

.app-store img {
  height:100%; 
  float:left;
  margin-right:10px;
}

.app-store h5 {
  font-size:1.55em; 
  margin:0px;
}

#nooklyn {
  padding:0px 30px;
  background-color:#445;
  color:white;
}