* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1 {
  font-size:9em; 
  font-family:'estilo-pro', sans-serif;
  font-weight:500;
}
h2 {
  font-size:3em; 
  font-family:'proxima-nova', sans-serif;
  font-weight:100;
  margin-top:-100px;
}

#menu {
  position: fixed;
  width: 180px;
  top: 0;
  bottom: 0;
  background:#112;
  margin:0;
  padding:0;
  overflow:auto;
}
#menu ul {
 margin:0;
  padding:0;
}
#menu li {
  list-style:none;
  width:100%;
  height:180px;
  border-bottom:10px solid black;
}
#menu li a {
  color:black;
  text-decoration:none;
  display:none;
}
#menu a:nth-child(1) li {
  background-color:hsl(200, 50%, 95%);
  border-bottom-color: hsl(200, 40%, 75%);
  background-image:url(dm-peak.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:140px 120px;
}
#menu a:nth-child(2) li {
  background-color:hsl(99, 81%, 69%);
  border-bottom-color: hsl(99, 51%, 49%);
  background-image:url(handlebars-transparent.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:120px 120px;
}
#menu a:nth-child(3) li {
  background-color:hsl(284, 48%, 52%);
  border-bottom-color: hsl(284, 48%, 42%);
  background-image:url(tuneout-flat-icon.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:124px 125px;
}
#menu a:nth-child(4) li {
  background-color:#334;
  border-bottom-color: #223;
  background-image:url(nooklyn-heart.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:120px 120px;
}

#content {
  /*margin-left:180px;*/
  box-shadow: -6px 0px 0px 84px rgba(0,0,0,0.05);
  position: absolute;
  right:-20px;
  left:20px;
  z-index: 10000;
}

#open-menu {
  display:none;
  position:fixed;
  z-index:200000;
  top:0;
  left:0;
  width:100px;
  height:100px;
  background:rgba(0,0,0,0.3);
  color:white;
  transition:all 0.3s;
  left:0px;
}

#immersion {
  color:white;
  text-align:center;
  margin: 10% 0;
}

#immersion img {
  width: 30%;
  text-align: center;
}

#starry-night {
  background-color: #160C46;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

#map {
  width:100%;
  height:700px;
}
.google-maps img {
  max-width:none;
  max-height:none;
}

#handlebars {
  padding:50px 50px;
  background-color:hsl(245, 46%, 52%);
  color:white;
}

#tuneout {
  padding:50px 50px;
  background-color:hsl(284, 48%, 57%);
  color:white;
}

.iphone-app img {
  max-height:650px;
  right:10px;
  text-align:center;
}

.app-store {
  display:block;
  background-color:white;
  opacity:0.8;
  width:300px;
  height:100px;
  padding:10px;
  font-family:'proxima-nova', sans-serif;
  font-size:1.6em;
  text-decoration:none;
  color:#666;
  transition:opacity 0.3s;
}

.app-store:hover {
  opacity:1.0; 
}

.app-store img {
  height:100%; 
  float:left;
  margin-right:10px;
}

.app-store h5 {
  font-size:1.55em; 
  margin:0px;
}

#nooklyn {
  padding:0px 50px;
  background-color:#3F3864;
  color:white;
}

footer {
  height: 200px;
}

footer ul {
  width: 480px;
  margin: 200px auto;
  padding: 0;
}

footer li {
  float: left;
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 100;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 30px;
  padding: 15px 25px;
  margin: 0 25px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

footer a:hover {
  background-color: white;
  color: black;
}

@media (max-width:1200px) {
  h1 {
    font-size:7.5em;
  }
}

@media (max-width:1000px) {
  h1 {
    font-size:5.7em;
  }
  h2 {
    font-size:2.3em;
    margin-top:-75px;
  }
}

@media (max-width:800px) {
  h1 {
    font-size:5.0em;
  }
  h2 {
    font-size:2em;
    margin-top:-50px;
  }
  section {
    text-align:center;
  }
  .app-store {
    margin:40px auto;   
  }
}

@media (max-width:600px) {
  h1 {
    font-size:5.0em;
  }
  h2 {
    font-size:1.7em;
    margin-top:-50px;  
  }
  footer ul {
    width: 280px;
    margin: 10px auto;
  }
  footer li {
    position: relative;
    width: 100%;
    margin: 10px 0;
    margin-left: -10px;
    text-align: center;
  }
}
